{% extends 'layout.html' %}

{% block body %}
	<h1>Pink-Ponk.io</h1>
	<div id="gameDiv">
            <span id="PlayerOne" class="left-col">00</span>
            <span id="vs" class="center-col">vs</span>
            <span id="PlayerTwo" class="right-col">00</span>
	</div>
<!--
	<div id="foo">
		<p>
			Juego desarrollado por el ninja team de malito corp ©2014.
		</p>
	</div>
-->
{% endblock %}

{% block styles %}
	<link rel="stylesheet" href="css/style.css">
{% endblock %}

{% block scripts %}
	<script type="text/javascript" src="/js/phaser.min.js"></script>
	<script type="text/javascript" src="/js/juego.js"></script>
{% endblock %}
