{% extends 'layout.html' %}

{% block styles %}
<link rel="stylesheet" href="css/styleScore.css">
{% endblock %}

{% block scripts %}
  <script type="text/javascript" src="js/score.js"></script>
{% endblock %}

{% block body %}

  <h1>-SCORE-</h1>

    <div class="scoreBoard">
        <div id="PlayerOne" class="left-col">00</div>
        <div id="vs" class="center-col">vs</div>
        <div id="PlayerTwo" class="right-col">00</div>
    </div>

    <div id="winner" class="winnerDiv">Player 1 winner</div>

{% endblock %}
