*{
  margin: 0;
  padding: 0;
  border: 0;
}

body{
  background: #000;
  color: #FFF;
  text-align: center;
  font-family: 'Righteous', normal;
}

h1{
  font-size: 8em;
  padding: .5em 1em;
}

p{
  padding:0.5em 1em;
  font-size: 2em;
}

.scoreBoard{
  font-family: 'Audiowide', cursive;
  font-size: 14em;
}
