*{
	margin: 0;
	padding: 0;
	border: 0;
}

body{
	background: #27ae60;
	font-family: 'Audiowide', cursive;
	color: #2c3e50;
}

h1{
	font-size: 6em;
	padding: .5em 1em;
}

p{
	padding:0.5em 1em;
	font-size: 2em;
}
